* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: azure;
}

h1 {
  text-align: center;
  margin: 2em 1em 1em;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
}

input,
button,
div {
  margin: 0 auto;
  font-size: 1.3rem;
  text-transform: uppercase;
}

input {
  width: 30%;
  padding: 1em;
  margin-bottom: 1em;
  border-top: none;
  border-left: none;
  display: flex;
  border-color: slateblue;
  border-width: 3px;
}

#input-birthday,
#input-check-newsletter {
  margin-bottom: 0;
}

input:focus {
  background-color: aquamarine;
  outline: none;
  transition: 0.2s;
}

#div-birthday,
#div-newsletter {
  display: flex;
  align-items: center;
}

#div-newsletter {
  margin-top: 2em;
  margin-bottom: 2.5em;
}

#input-check-newsletter {
  transform: scale(2);
}

label {
  padding-right: 1em;
}

#input-birthday,
#input-check-newsletter {
  width: auto;
}

button {
  padding: 0.5em 1em;
}

button:hover {
  background-color: violet;
  transition: 0.2s;
}
